# Build directories
build/
cmake-build-*/
out/

# Compiled binaries
*.exe
*.out
*.app
enc
dec
test_runner

# Object files
*.o
*.obj
*.ko
*.elf
core

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*
*.dylib
*.dll

# IDE directories
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile.cmake
CTestTestfile.cmake
Testing/

# Dependency directories
vendor/
external/

# Coverage
*.gcov
*.gcda
*.gcno
coverage/
*.info

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Backup files
*.bak
*.tmp
*.temp

# claude
claude.md
CLAUDE.md
.claude

# codex
AGENTS.md

# devcontainer
.devcontainer


dist
node_modules
